.container{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  img {
    width: max-content;
    height: max-content;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .card-form{
    width: 500px;
    max-height: 600px;
    align-self: center;
    background-color: #FD2D01 ;
    border-radius: 20px;
    border: 1px solid #FD2D01;
    .input-login{
      margin-top: 10px;
      width: 85%;
    }
    .bloc-form{
      margin: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      .label-login{
        margin-right: 5px;
      }
    }
    .bloc-form-submit{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      &.error{
        color: whitesmoke;
        margin: 20px;
        text-align: center;

      }
    }
    .create-account{
      display: flex;
      justify-content: center;
      color: whitesmoke;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    img {
      width: 95vw;
      height: 50px;
      align-self: center;
      margin-top: 50px;
      margin-bottom: 100px;
    }
    .card-form{
      width: 95vw;
      .bloc-form{
        .input-login{
          width: 100%;
        }
      }
    }
  }
}

