.content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .aside{
    flex-basis: 15%;
    background-color: #4E5166;
    border-radius: 10px;
  }
  .container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-self: center;
    flex-basis: 70%;
    margin: 0  10px 0 10px;
    border-radius: 10px;
  }
  .card{
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #FD2D01;
    width: 95%;
    margin: 10px 0 10px 0;
    border: 2px solid whitesmoke;
    border-radius: 20px;
    .card-head{
      border-bottom: 1px solid whitesmoke;
      font-weight: bold;
      color: whitesmoke;
      .suppress{
        color: pink;
        cursor: pointer;
        &:hover{
          color: white;
        }
      }
    }
    .card-content{
      color: whitesmoke;
    }
    .card-footer{
      display: flex;
      flex-direction: column;
      color: whitesmoke;
      border-top: 1px solid whitesmoke;
      .likeBtn{
        cursor: pointer;
      }
      .btn_footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .footer_btn{
          display: flex;
          justify-content: center;
          align-items: center;
          background: #FFD7D7;
          color: black;
          height: 20px;
          width: 120px;
          border-radius: 10px;
          border: #FFD7D7;
          cursor: pointer;
          &:hover{
            background-color: #4E5166;
            color: white;
          }
        }
      }
    }
  }
  .posts_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4E5166;
    border-radius: 20px;
    .post_message textarea{
      margin-top: 20px;
      width: 450px;
      height: 50px;
    }
    .new_post{
      display: flex;
      justify-content: center;
      flex-direction: column;
      background: #FD2D01;
      color: white;
      height: 25px;
      width: 150px;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: #FFD7D7;
      &:hover{
        color: #FFD7D7;
      }
    }
  }

}
.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  height: max-content;
  padding: 25px;
  background: #FD2D01;
  color: white;
  border: 2px solid #000;
  .textarea{
    width: 500px;
    text-align: center;
  }
}
