.head{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FD2D01;
  color: whitesmoke;
  height: 90px;
  margin-bottom: 50px;
  border-radius: 10px;
  img{
    max-width: 250px;
  }
  p:first-child{
    margin-left: 25px;
  }
  p:last-child{
    margin-right: 25px;
  }
  .quit_btn{
    cursor: pointer;
    &:hover{
      color: #FFD7D7;
    }
  }
}

@media screen and (max-width: 500px) {
 .head{
   img{
     width: 40vw;
     height: 50px;
     align-self: center;
   }
   p:first-child{
     margin-left: 5px;
   }
   p:last-child{
     margin-right: 5px;
   }
 }
}
